body {
	background: radial-gradient(70% 70%, #f5d997, #af9862);
}

h1 {
	color: #c49d48;
	text-align: center;
	background-image: url(imagenes/h1.png); 
	background-position: center;
	background-repeat: no-repeat;
	font-size: 10em;
	text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
	margin-top: -15px;
}

h2 {
	color: #bfa057;
	text-align: center;
	text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

p {
	color: #443a23;
	margin-right: 350px;
	margin-left: 30px;
	text-indent: 50px;
}

ul {
    list-style-type: none;
    margin-right: 350px;
    margin-left: 30px;
}

img {
	
}

.icono {
	max-width: 15%;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}

#fijo {
		position: fixed;

}

#seleccion {
	text-align: center;
}

.boton {
	background-color: #bfa057; 
	width: 150px;
	color: #443a23;
	padding: 10px 30px;
	text-align: center;
}

.ajustar_boton {
	margin-left: -800px;
	margin-top: 100px;
}

.portada {
	height: 300px;
}

ul.border {
	border-style: groove;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-color: #917f55;
	border-radius: 5px;
	border-width: 10px 10px 10px 10px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

ul.margin {
	margin-right: 350px;
	text-align: left;
}

li {
	margin: 20px;
}

h2.margin_top {
	margin-top: -120px;
}

a {
	text-decoration: none;
	color: #000;
}